---
import '/src/styles/song.css'
---
<head>
        <meta name="viewport" content="width=device-width" />
</head>
<div class="container">
    <h1 class="animated">Merry Christmas </h1>
    <h1 class="animated">Minzaz Mon</h1>
    <p>May the Christmas Season bring only happiness and joy to you and your family.</p>
    <p>Best wishes for a joyous Christmas filled with love, happiness and prosperity!</p>
    <img src="/deer.svg" width="300px"/>
<canvas id="snow"></canvas>
 </div>
<script src="/src/libs/snow.js"></script>
